@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
     }
}

.home-bg-img-desktop { 
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("./img/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: scroll;
    z-index: -100;
}

.destination-bg { 
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: url("./img/background-destination-desktop.jpg") no-repeat 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 76px 0 94px 0;
    position: relative;
    min-height: 100vh;
    z-index: 0; 
}

.crew-bg { 
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: url("./img/background-crew-desktop.jpg") no-repeat 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 76px 0 94px 0;
    position: relative;
    min-height: 100vh;
    z-index: 0; 
}

.tech-bg { 
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: url("./img/background-technology-desktop.jpg") no-repeat 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 76px 0 94px 0;
    position: relative;
    min-height: 100vh;
    z-index: 0; 
}

.main { 
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 100px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.crew-container { 
    position: relative;
    padding: 76px 0 94px 0;
    overflow: scroll;
}

.crew-body { 
    padding-top: 136px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    /* max-width: 60rem; */
}

.crew-img { 
    position: absolute;
    right: 7%;
    bottom: 0;
}
.container { 
    margin: 0 auto;
    max-width: 1280px;
}

@media only screen and (max-width: 1024px){
    .home-bg-img-desktop { 
        background-image: url("./img/background-home-tablet.jpg");
    }
    .destination-bg { 
        background-image: url("./img/background-destination-tablet.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .crew-bg { 
        background: url("./img/background-crew-tablet.jpg") no-repeat 50% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .tech-bg { 
        background: url("./img/background-technology-tablet.jpg") no-repeat 50% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 640px){
    .home-bg-img-desktop { 
        background-image: url("./img/background-home-mobile.jpg");
    }
    .destination-bg { 
        background-image: url("./img/background-destination-mobile.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .crew-bg{ 
        background: url("./img/background-crew-mobile.jpg") no-repeat 50% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .tech-bg { 
        background: url("./img/background-technology-mobile.jpg") no-repeat 50% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}